button, input, optgroup, select, textarea {
    line-height: normal;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
    box-sizing : border-box;
    font-family: 'Open Sans';
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

/*h3 {
    position: relative;
    top: -12px;
    }*/

.row{
    width: 100%;
    height: 70px;
    margin-right: 0px; 
    margin-left: 0px;
    display: block; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   /* border: solid 2px black;*/
}

.col,.colp{
    height:100%;
    float: left;
   /* border: solid 2px green;*/
}

.upper{
    border: solid 1px black;
    height: 50px;
}
@media (min-width: 600px){
    .upper{
    height: 70px;
}

}

.logo {
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .mid{
        width: 10%;
    }

    .user{
        width: 40%;
    }

    .header-logo{
        height:35px; 
        width: 50px;
    }
@media (max-width: 600px){
    .header-logo{
    position: absolute;
    left: 260px;
    }
}

    .head-logo{
        width:21%;
        padding-top: 5px; 
        padding-left: 10px;
        padding-right: 0px;
           
    }
    .head-text{
        width: 79%;
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .re{
        font-size: 17px;
        color: #1195C9;
        position: absolute;
        top: 14px;
        left: 26px;
    }
    .sumer{
        font-size: 17px;
        color: #676767;
        position: absolute;
        top: 14px;
        left: 46px;
    }


@media (max-width: 600px){
    .re{
        position: absolute;
        top: 14px;
        left: 10px;
    }
    .sumer{
        top: 14px;
        left: 30px;
    }

}


@media (min-width: 600px){
    .logo {
        width: 40%;
        
        padding-left: 140px;
    }

    .mid{
        width: 30%;
    }

    .user{
        width: 30%;
    }

    .head-logo{
        width:21%;
        padding-top: 10px; 
           
    }
    .head-text{
        width: 79%;
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .re{
        font-size: 32px;
        color: #1195C9;
        position: absolute;
        top: 9px;
        left: 6px;
    }
    .sumer{
        font-size: 32px;
        color: #676767;
        position: absolute;
        top: 9px;
        left: 43px;
    }
}

.lower{
    padding-left: 2%;
    padding-right: 2%;
    height: 580px;
    }

@media (min-width: 600px){
	.lower{
    padding-left: 28%;
    padding-right: 28%;
    height: 580px;
	}
}
@media (min-width: 600px){
.header-logo{
    height:50px; 
    width: 65px;
    }
}

.not_loggedin,.loggedin{
    position: relative;
    top: 40px;
    left: 130px; 
}

@media (max-width: 600px){
    .not_loggedin,.loggedin{
    display: none; 
}
}

.login-register{
    font-size: 18px;
    color: #847d7d;
}

.slide {
    padding-top: 10px;
    padding-bottom: 5px;
    height:45px;
    display: flex;
    justify-content: space-around;
    }

@media (min-width: 600px){
	.slide{
    padding-top: 20px; 
    height:65px;
	}
}

.data{
    border:solid 1px #8257A5;
    height: auto;
    border-radius: 9px;
}

.info{
    border:solid 1px #8257A5;
    background-color: #8257A5;
    color: white;
    height:70px;
    padding-top: 5%;
    padding-left: 38%;
    padding-right: 35%;   
}

.datatitle{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.dialouge{
    height: 130px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%; 
}

@media (min-width: 600px){
.dialouge {
    padding-top: 60px;
    }

}

.padding{
    width:10%;
}

.userinfo{
    width: 95%;
    padding-left: 18px;
    padding-right: 0px;
}

@media (min-width: 600px){
    .userinfo{
        width: 90%;
        padding-left: 55px;
    }
}

.discipline,.discipline2{
    float: left;
    
    padding-left: 2%;
    margin-bottom: 10%;
    height: 40px;
    line-height: 40px;
    background: #FAFAFA;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    color: #454545;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
}

.fa-plus{
    text-align: right;
    font-size: 13px;
    float: right;  
    padding-right: 10px;
    line-height: 40px; 
    /*position: relative;
    top: 12px;
    left: 5px;*/
    color: #9e9e9e;
}

.previous,.skip{
    padding-top: 5px;
    text-decoration: none;
    float: left;
    color: #1295C9;
    font-size: 13px;
}

a:hover{
    text-decoration: underline;
}

.next{
    text-decoration: none;
    float:right;
    color:white;
    background-color: #1295C9;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}


.attr {
    height: 30px;
    color: white;
    
    padding-left: 15px;
    padding-right: 10px;
    cursor: pointer;
    }

@media (min-width: 600px){
.attr{
    
    height: 40px;
    color: white;
    
    padding-left: 42px;
    padding-right: 29px;
    cursor: pointer;
	}
}

.prof-pic{
    border
}

.arrow-cont{
    height: 10px;
    display: flex;
    justify-content: space-around;
}

.up-arrow {
    text-align: center;
}



.up-arrow{
    width: 1px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-left: auto;
    margin-right: auto;   
}

.personal_details_element{
   border-bottom: 10px solid #1195C9; 
}

.education_details_element{
    border-bottom: 10px solid #8257a6;
}

.experiences_element{
    border-bottom: 10px solid #FAD33A;
}

.skills_element{
    border-bottom: 10px solid #EE605F;
}

.work_samples_element{
    border-bottom: 10px solid #FC8D3F;  
}

.inactive{
    display: none;
}


.profile{
    height: 40px;
    width: 40px;
    background-color: red;
}

.student-info{
    border:solid 1px #1195C9;
   width: 100%;
   height: 600px;
   border-radius: 9px;
   padding-left: 0px;
   padding-right: 0px;
}

.heading{
    background-color: #1195C9;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    height: 50px;
}

@media (min-width: 600px){
	.heading{
		height: 70px;
	}
}

.empty{
    height: 50px;
}

.form-control{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
}

.form-group{
    height:90px;
}

.sal{
    width: 75px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    flex-grow: 0;
    color: #495057;
    position: relative;
    top: 17px; 
}

.name{
    width: 80%;
}

@media (min-width: 600px){
.name{
	width: 80%;
	}
}

.wid{
    width: 100%;
}

@media (min-width: 600px){
.wid{
    width: 100%;
    }
}


.new{
    height: 120px;
}

.next-button_container{
    text-decoration: none;
    float:right;
    color:white;
    background-color: #1295C9;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem; 
}

.exp{
    background-color: #FAD33A;
    
}

.work-exp{
    height: 360px;
    width: 100%;
    border:solid 1px #FAD33A;
    padding-right: 0px;
     padding-left: 0px;
}

.dialouge2{
    padding-top: 30px;
    padding-bottom: 10px;
    height: 90px;
    font-size: 18px;
}

.discipline2{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-right: 5px;
}

.skip{
    float: right;
}

.skill{
    background-color: #EE605F;
}



.sample{
    background-color: #FC8D3F; 
}

.colp{
    padding-right: 0px; 
     padding-left: 0px;
}

.bor-red{
    border:solid 1px #EE605F;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 9px;
}

/*@media (min-width: 600px){
.bor-red{
    height: auto;
    }
}*/

.bor-org{
    border:solid 1px #FC8D3F;
    height: 670px;
}

.tag{
   
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.font-weight-h4{
    font-weight: 600;
    font-size: 24px;
    color: #333;
    margin-bottom: 0px;
}

.skills-in{
    width: 100%;
    height: 30px;
    font-size: 16px;
    
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 20px;
}

.link-in{
    width: 100%;
    height: 90px;
    font-size: 16px;
}
.padding-h4{
    padding-bottom: 15px;
}

.link-input{
    width: 100%;
    padding-top: 12px;
    font-size: 14px;
}

.input-group{
    padding-top: 10px;
}


.start-end-date{
    height 90px;
    }

.add-skills-rating-container{
    height: 180px;
}

@media (min-width: 600px){
.add-skills-rating-container{
    height: 120px;
    }
}


#rating_question{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.btn-primary{
    background-color: #1295C9;
    border-color: #1295C9;
    width: 100%;
    display: inline-block;
    margin-top: 3px;
}

@media (min-width: 600px){
.btn-primary{
    width: 32%;
    }
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid #bab8b8;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}

.menu-bar{
    font-size:30px;
    cursor:pointer;
    position: absolute;
    top: 5px;
    left: 15px;
}

@media (min-width: 600px){
    .menu-bar{
        display: none
    }
}

.btn-pos-skills{
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.data-fetch{
    padding-left: 10%;
   /* display: flex;*/
}

.grad-fetch{
    margin-top: 30px;

}

.fetched-head{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #494949;
}

.data-fetch > div {
    font-size: 14px;
    display: block;
    color:#767676; 
}

.rmv-img,.edit-img{
    height: 22px;
    width: 17px;
}

.col1{
    width: 80%;
}
.col2{
    width: 20%;
}