button, input, optgroup, select, textarea {
    line-height: normal;
    outline: none;
}

@media (max-width: 600px){
    button, input, optgroup, select, textarea {
    font-size: 13px;
}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
    box-sizing : border-box;
    font-family: 'Open Sans';
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

/*h3 {
    position: relative;
    top: -12px;
    }*/

.row{
    width: 100%;
    height: 70px;
    margin-right: 0px; 
    margin-left: 0px;
    display: block; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: solid 1px black;*/
}

.col,.colp{
    height:auto;
    float: left;
    /*border: solid 1px green;*/
}

.upper{
    //border: solid 1px black;
    height: 50px;
    background-color: #F8F8F8;
    border-bottom: solid 1px #D8D8D8;
}
@media (min-width: 600px){
    .upper{
    height: 70px;
}

}

.logo {
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .mid{
        width: 10%;
    }

    .user{
        width: 40%;
    }

    .header-logo{
        height:35px; 
        width: 50px;
    }
@media (max-width: 600px){
    .header-logo{
    position: absolute;
    left: 260px;
    }
}

    .head-logo{
        width:21%;
        padding-top: 5px; 
        padding-left: 10px;
        padding-right: 0px;
           
    }
    .head-text{
        width: 79%;
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .re{
        font-size: 17px;
        color: #1195C9;
        position: absolute;
        top: 14px;
        left: 26px;
    }
    .sumer{
        font-size: 17px;
        color: #676767;
        position: absolute;
        top: 14px;
        left: 46px;
    }


@media (max-width: 600px){
    .re{
        position: absolute;
        top: 14px;
        left: 10px;
    }
    .sumer{
        top: 14px;
        left: 30px;
    }

}


@media (min-width: 600px){
    .logo {
        width: 40%;
        
        padding-left: 140px;
    }

    .mid{
        width: 30%;
    }

    .user{
        width: 30%;
    }

    .head-logo{
        width:21%;
        padding-top: 10px; 
           
    }
    .head-text{
        width: 79%;
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .re{
        font-size: 32px;
        color: #1195C9;
        position: absolute;
        top: 9px;
        left: 6px;
    }
    .sumer{
        font-size: 32px;
        color: #676767;
        position: absolute;
        top: 9px;
        left: 43px;
    }
}

.footer{
    clear: both;
    margin-top: 50px;
    border: solid 1px black;
    background-color: #303030;
    border-radius: 0px;
    z-index: 3;
}

@media (max-width: 600px){
    .footer{
        margin-top: 30px;
    }    
}


.forskills{
    
    position: fixed;
    bottom: 0;
}

.forresume{
    margin-top: 50px;
}

.flaticon_text{
    color: #FFFFFF;
    position: relative;
    //top: 10px;
}

.flaticon_img{
    width: 75px;
    height: 60px;
    position: relative;
    //top: 10px;
}

.social_ids{
    color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 450px;
}

.social_id_img{
    position: relative;
    left: 450px;
}
.insta_img,.linkedin_img{
    width: 40px;
    height: 40px;
    /*padding-left: 5px;
    padding-right: 5px;*/
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 600px){
    .flaticon_text{
        font-size: 13px;
        top: -10px;
        left: 10px;
    } 

    .flaticon_img{
        width: 55px;
        height: 50px;
        top: 5px;
        left: -45px;
        
    }

    .social_ids{
        color: #FFFFFF;
        position: static;
        margin-left: 15px;
        
    }

    .social_id_img{
        position: static;
        margin-left: 25px;
    }
    .insta_img,.linkedin_img{
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }   
}

.left,.right{
    width: 50%;
    margin-left: 10px;

}

.lower{
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    }

@media (min-width: 600px){
	.lower{
    padding-left: 28%;
    padding-right: 28%;
    height: auto;
	}
}
@media (min-width: 600px){
.header-logo{
    height:50px; 
    width: 65px;
    }
}

.not_loggedin,.loggedin{
    position: relative;
    top: 40px;
    left: 130px;
    width: fit-content; 
}

@media (max-width: 600px){
    .not_loggedin,.loggedin{
    display: none; 
}
}

.login-register{
    font-size: 18px;
    color: #847d7d;
}

.slide {
    padding-top: 10px;
    padding-bottom: 5px;
    height:45px;
    display: flex;
    justify-content: space-around;
    }

@media (min-width: 600px){
	.slide{
    padding-top: 20px; 
    height:65px;
	}
}

.data{
    border:solid 1px #8257A5;
    height: auto;
    border-radius: 9px;
}

.info{
    border:solid 1px #8257A5;
    background-color: #8257A5;
    color: white;
    height:70px;
    padding-top: 5%;
    padding-left: 38%;
    padding-right: 35%;   
}

.datatitle{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.dialouge{
    height: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%; 
}

@media (min-width: 600px){
.dialouge {
    padding-top: 10px;
    }

}

.padding{
    width:10%;
}

.userinfo{
    width: 95%;
    padding-left: 18px;
    padding-right: 0px;
}

@media (min-width: 600px){
    .userinfo{
        width: 90%;
        padding-left: 55px;
    }
}

.discipline,.discipline2{
    float: left;
    
    padding-left: 2%;
    margin-bottom: 10%;
    height: 40px;
    line-height: 40px;
    background: #FAFAFA;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    color: #454545;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
}

.fa-plus{
    text-align: right;
    font-size: 13px;
    float: right;  
    padding-right: 10px;
    line-height: 40px; 
    /*position: relative;
    top: 12px;
    left: 5px;*/
    color: #9e9e9e;
}

.previous,.skip{
    padding-top: 5px;
    text-decoration: none;
    float: left;
    color: #1295C9;
    font-size: 13px;
}

a:hover{
    text-decoration: underline;
}

.next{
    text-decoration: none;
    float:right;
    color:white;
    background-color: #1295C9;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}


.attr {
    height: 30px;
    color: white;
    
    padding-left: 15px;
    padding-right: 10px;
    cursor: pointer;
    }

@media (min-width: 600px){
.attr{
    
    height: 40px;
    color: white;
    padding-left: 30px;
    padding-right: 29px;
    cursor: pointer;
	}
}

.prof-pic{
    border
}

.arrow-cont{
    height: 10px;
    display: flex;
    justify-content: space-around;
}

.up-arrow {
    text-align: center;
}



.up-arrow{
    width: 1px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-left: auto;
    margin-right: auto;   
}

.personal_details_element{
   border-bottom: 10px solid #1195C9; 
}

.education_details_element{
    border-bottom: 10px solid #8257a6;
}

.experiences_element{
    border-bottom: 10px solid #FAD33A;
}

.skills_element{
    border-bottom: 10px solid #EE605F;
}

.work_samples_element{
    border-bottom: 10px solid #FC8D3F;  
}

.inactive{
    display: none;
}
.resume_element{
    border-bottom: 10px solid #F8B750;
    margin-left: 10px;
}


.profile{
    height: 40px;
    width: 40px;
    background-color: red;
}

.student-info{
    border:solid 1px #1195C9;
   width: 100%;
   height: 600px;
   border-radius: 9px;
   padding-left: 0px;
   padding-right: 0px;
}

.heading{
    background-color: #1195C9;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    height: 50px;
}

@media (min-width: 600px){
	.heading{
		height: 70px;
	}
}

/*.empty{
    height: 50px;
}*/

.form-control{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
}

.form-group{
    height:90px;
}

.sal{
    width: 75px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    flex-grow: 0;
    color: #495057;
   /* position: relative;
    top: 17px; */
}

.name{
    width: 80%;
}

@media (min-width: 600px){
.name{
	width: 80%;
	}
}

.wid{
    width: 100%;
}

@media (min-width: 600px){
.wid{
    width: 100%;
    }
}


.new{
    height: 120px;
}

.next-button_container{
    text-decoration: none;
    float:right;
    color:white;
    background-color: #1295C9;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem; 
}

.exp{
    background-color: #FAD33A;
    
}

.work-exp{
    height: 360px;
    width: 100%;
    border:solid 1px #FAD33A;
    padding-right: 0px;
     padding-left: 0px;
}

.dialouge2{
    padding-top: 30px;
    padding-bottom: 10px;
    height: 90px;
    font-size: 18px;
}

.discipline2{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-right: 5px;
}

.skip{
    float: right;
}

.skill{
    background-color: #EE605F;
}



.sample{
    background-color: #FC8D3F; 
}

.colp{
    padding-right: 0px; 
     padding-left: 0px;
}

.bor-red{
    border:solid 1px #EE605F;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 9px;
}

/*@media (min-width: 600px){
.bor-red{
    height: auto;
    }
}*/

.bor-org{
    border:solid 1px #FC8D3F;
    height: 670px;
}

.tag{
   
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.font-weight-h4{
    font-weight: 600;
    font-size: 24px;
    color: #333;
    margin-bottom: 0px;
}

.skills-in{
    width: 100%;
    height: 30px;
    font-size: 16px;
    
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 20px;
}

.link-in{
    width: 100%;
    height: 90px;
    font-size: 16px;
}
.padding-h4{
    padding-bottom: 15px;
}

.link-input{
    width: 100%;
    padding-top: 12px;
    font-size: 14px;
}

.input-group{
    padding-top: 10px;
}


.start-end-date{
    height 90px;
    }

.add-skills-rating-container{
    height: 180px;
}

@media (min-width: 600px){
.add-skills-rating-container{
    height: 120px;
    }
}


#rating_question{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.btn-primary{
    background-color: #1295C9;
    border-color: #1295C9;
    width: 100%;
    display: inline-block;
    margin-top: 3px;
}

@media (min-width: 600px){
.btn-primary{
    width: 32%;
    }
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid #bab8b8;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}

.menu-bar{
    font-size:30px;
    cursor:pointer;
    position: absolute;
    top: 5px;
    left: 15px;
}

@media (min-width: 600px){
    .menu-bar{
        display: none
    }
}

.btn-pos-skills{
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.data-fetch{
    padding-left: 10%;
   /* display: flex;*/
}

.fetch{
    margin-top: 25px;
    height: auto

}

.fetched-head{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #494949;
}

.data-fetch > div {
    padding-left: 10px;
    font-size: 14px;
    display: block;
    color:#767676; 
}

.rmv-img,.edit-img{
    height: 16px;
    width: 16px;
}

.col1{
    width: 80%;
    height: auto;
}
.col2{
    width: 20%;
    height: auto;
}

.fa-plus:before {
    content: "\f067";
    
    position: relative;
    top: 10px;
}

.heads{
    height: auto;
    /*padding-left: 12%;*/
}

.skill-holder{
    display: flex;
    justify-content: center;
    flex: 0 0 48%;
    background: #F8F8F8;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
    padding: 10px 12px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

@media (min-width: 600px){
    .skill-holder{
    width: 45%;
    }
}

.rating{
    font-size: 15px;
}

.rating-col1{
    justify-content: center;
    width: 90%;
    padding: 0px;
}
.rating-col2{
    width: 10%;
    padding: 0px;
    float: right;
}

@media (min-width: 600px){
    .rating_part{
    position: relative;
    left: 90px;
    top: 10px;
    }
}
.rating_part{
    position: relative;
    left: 75px;
    top: 10px;
}



.lower-content{
    /*background-color: #e8f0fe;*/
    height: 100%;
}

.resume-content{
    width: 80%;
    background-color: white;
    border: 2px solid #F8B750;
    border-radius: 5px;
    margin-bottom: 50px;
}

@media (max-width: 600px){
    .resume-content{
        width: 97%;
        margin-left: 6px;
        margin-right: 5px;
        margin-bottom: 30px;
    }
    .resume-col{
        display: none;
    }

}

.resume-col{
    width: 10%;
    height: auto;
}

.personal-table{
    margin-top: 35px;
    margin-bottom: 25px;
    height: auto;
}

.education-table,.experience-table,.skills-table,.samples-table{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    height: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@media (max-width: 600px){
    .education-table,.experience-table,.skills-table,.samples-table{
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #e6e6e6;
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-grid;
        height: auto;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

}
.details-left{
    width: 30%;
    justify-content: center;
    color: #1295c9;
}
.details-right{
    width: 70%;
}

@media (max-width: 600px){
    .details-left{
        width: auto;
        text-align: center;
    }
    .details-right{
        width: auto;
    }
}



.resume-slide,.arrow-cont-resume{
    
    padding-left: 18%;
    padding-right: 18%;
}
@media (max-width: 600px){
    .resume-slide,.arrow-cont-resume{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.add-more{
    height: auto;
    display: inline-block;
    padding-left: 11%;
    padding-top: 10px;
}

.clr-blue{
    color: #1F96C9;
}
.mrg-one{
    padding-left: 1%;
}

.grey{
    color: #898989;
    
}

.title-style{
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

.link-clr{
    color: #1295C9;
}
.pos-resume{
    position: relative;
    top: -70px;
    left: -100px;
}

@media (min-width: 600px){
    .pos-resume{
        left: -300px;
    }
}

.paddingleft{
    padding-left: 40px;
}


.update-edit-pos{
    margin-top: 10px;
}

.mid-part{
    //height: auto;
}

.box{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    width: 700px;
    background-color: white;
    margin-left: 24%;
    margin-right: 15%;
    //border: 1px solid black;
    height: 240px;
}

.pad-row{
    height: 70px;
}

.new_box,.browse_box,.browse_container{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    height: 200px;
    width: 25%;
    //border: 1px solid red;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img_for_new,.img_for_browse{
    height: 120px;
    width: 120px;
    margin-right: none;
}
.add_new_cv{
    width: 100px;
    margin-top: 15px;
    margin-left: 15%;
}

.browse_cv{
    margin-left: 25px;
    margin-top: 15px;
}

.add_new_text,.add_browse_text{
    width: 40px;
    margin-top: 10px;
    margin-left: 38px;
    font-size: 25px;
}

.browse_container{
    margin-left: 17%;
     margin-top: 15px;
     border: none;
}
.add_browse_text{
    margin-left: 20px;
}
.mid-part{
    background-image: linear-gradient(114deg, #F3F7F7, #CBEDED);
    height: fit-content;
}

.home-case{
    margin-top: 0px;
}
.lower-row{
    height: 210px;
}

@media (max-width: 600px){
    .box{
        width: 240px;
        margin-left: 18%;
        height: 360px;
    }

    .new_box,.browse_box,.browse_container{
        height: 140px;
        width: 70%;
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img_for_new,.img_for_browse{
        height: 100px;
        width: 100px;
        
    }

    .add_new_cv{
        margin-top: 10px;
        margin-left: 20%;
    }

    .browse_cv{
        margin-left: 30px;
        margin-top: 10px;
    }

    .add_new_text{
        margin-top: -2px;
        margin-left: 28px;
    }

    .add_browse_text{
        margin-top: -5px;
        margin-left: 10px;
        
    }

}
.triangle-left {
    background-color: #61bfbf;
    opacity: 0.07;
    width: 200px;
    height: 350px;
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    left: -115px;
    top: 110px;
    z-index: 1;
}

.triangle-right {
    z-index: 1;
    background-color: white;
    opacity: 0.35;
    width: 350px;
    height: 450px;
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
    position: absolute;
    right: -30px;
    top: 100px;
    z-index: 1;
}

.triangle-right-up {
    background-color: white;
    opacity: 0.2;
    width: 170px;
    height: 500px;
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    right: 80px;
    top: 95px;
    z-index: 1;
}
.triangle-left-up {
    background-color: #61bfbf;
    opacity: 0.1;
    width: 170px;
    height: 500px;
    -ms-transform: rotate(20deg);
    transform: rotate(140deg);
    position: absolute;
    left: 15px;
    top: 145px;
    z-index: 1;
}

@media (max-width: 600px){
   .triangle-left,.triangle-right,.triangle-right-up,.triangle-left-up{
    display: none;
   }
}

.body-part{
    background-color: #E0F2F2;
}

.body-part >.triangle-left {
    background-color: #61bfbf;
    opacity: 0.07;
    width: 200px;
    height: 350px;
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    position: fixed;
    left: -115px;
    top: 110px;
    z-index: 1;
}

.body-part >.triangle-right {
    z-index: 1;
    background-color: white;
    opacity: 0.35;
    width: 200px;
    height: 330px;
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
    position: fixed;
    right: -30px;
    top: 100px;
    z-index: 1;
}

.body-part >.triangle-right-up {
    background-color: white;
    opacity: 0.2;
    width: 170px;
    height: 300px;
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: fixed;
    right: 25px;
    top: 110px;
    z-index: 1;
}
.body-part >.triangle-left-up {
    background-color: #61bfbf;
    opacity: 0.1;
    width: 150px;
    height: 300px;
    -ms-transform: rotate(20deg);
    transform: rotate(155deg);
    position: fixed;
    left: -10px;
    top: 105px;
    z-index: 1;
}

.boxforresume{
    width: 600px;
    height: auto;
    margin-left: 25%;
    margin-top: 10px;
    /*position: relative;
    top: -40px;*/
}



.padding-resume{
    padding-top: 15px;
    padding-left: 30px;
    cursor: pointer;
    height: auto;
    padding-bottom: 10px;
}

.up{
    height:30px;
}

@media (max-width: 600px){
   .boxforresume{
        width: auto;
        margin-left: 17%;
        margin-top: 10px;
        /*position: relative;
        top: -40px;*/
    }
    .up{
        //height:70px;
    }
}

/*.body-part >.triangle-left {
    background-color: #61bfbf;
    opacity: 0.07;
    width: 200px;
    height: 350px;
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    left: -115px;
    top: 110px;
    z-index: 1;
}

.body-part >.triangle-right {
    z-index: 1;
    background-color: white;
    opacity: 0.35;
    width: 200px;
    height: 330px;
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
    position: absolute;
    right: -30px;
    top: 100px;
    z-index: 1;
}

.body-part >.triangle-right-up {
    background-color: white;
    opacity: 0.2;
    width: 170px;
    height: 300px;
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    right: 25px;
    top: 110px;
    z-index: 1;
}
.body-part >.triangle-left-up {
    background-color: #61bfbf;
    opacity: 0.1;
    width: 150px;
    height: 300px;
    -ms-transform: rotate(20deg);
    transform: rotate(155deg);
    position: absolute;
    left: -10px;
    top: 105px;
    z-index: 1;
}*/
