*{
    box-sizing : border-box;
    font-family: 'Open Sans';
}

.modal-education{
	height: 1200px;
	width: 1200px;
}
/*	height: 800px;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.7);
	top:0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: block;		
}*/

.modal-content{
	width: 650px;
}

.modal-conts{
	justify-content: center;
	align-items: center;
	height: 630px;
	width: 650px;
	background-color: white;
	position: relative;
}

.modal-body{
	padding: 0px;
}

.padding,.dataform{
	height: 470px;
}

.header-container{
	position: relative;
	height: 50px;
	background-color: #8257A5;
	text-align: center;
    font-weight: 400;
	padding-top: 10px;
	font-size: 26px;
	color:white	;
}


.close{
	color: white;
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 30px;
	cursor: pointer;
	transform: rotate(45deg);
}

.dataform{
	width: 80%;
}
.empty{
	height: 50px;
}

.deg{
	display: block;
	
	font-weight: 400;
    float: left;
    font-size: 15px;
}

.deg-container{
	padding-top: 5px;
	height: 30px;
}



.grad-stat,.hs-stat,.performence-scale{
	
	padding-bottom: : 10px;	
}

.collegename,.schoolname{
	height: 70px;
	padding-bottom: : 10px;
	padding-top: 10px;

}

.degree_completion_status_container_completed{
	padding-left: 150px;
}



.start-year,.end-year,.stream-name,.degree-name,.per-scale,.per-num{
	padding-top: 15px;
	margin-bottom: 15px;
	width: 50%;
	
}

.chosen-year,.deg-input,.input-name,.stream-input,.perfor-scale,.per-marks,.year-container{
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background-color: white;
	padding-right: 5px;
	width: 95%;
}

.tips_education{
	position: relative;
	top: 25px;
	border:solid 1px #1295C9;
	padding-bottom: : 10px;
	
	padding-right: 15px;	
}
.performence-scale{
	position: relative;
	top:25px;
}

.next{
	position: relative;
	top:15px;
	padding-top: 5px;
	background-color: #1295C9
}
.start-year,.degree-name,.per-scale{
    padding-left: 0px;
}

.list{
	position: absolute;
	top:10px;
	left: 20px;
}

.year-container{
	width: 100%;
}

.course-completion{
	position: relative;
	top:5px;
		
}

.boardname{
	position: relative;
	top:15px;
}
.scl-performence-scale{
	position: relative;
	top: -5px;
}
